

.main {
}

.main__right{
  flex: 1;
  display: flex;
}

.main__chat_window{
  height:  80vh;
}
#timer{
    font-size: 1rem;
}

#meet-join{
    cursor: pointer;
}

#nav-bar{
  position: fixed;
  top: 3%;
  right: 1%;
  padding: 4px;
}

#leave-chat{
      cursor: pointer;
}

.nav-option{
    display: inline;
    color: #fff;
    border: 1px white solid;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 33px 36px 32px;
    background-color: #546e7a;
}